.consultation {
    min-height: 680px;
    background: url(../img/third-section/background.png) center (center/cover) no-repeat;
    padding: 100px 0 108px 0;
    &__desc {
        font-size: 20px;
        color: white;
        width: 420px;
        line-height: 30px;
        margin-top: 20px;
        font-weight: 300;
    }
}