.header {
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        color: black;
        font-size: 18px;
        font-weight: 500;
    }
}