.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        width: 215px;
        color: white;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        span {
            font-size: 18px;
            font-weight: 900;
        }
    }
    &__contacts {
        width: 190px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__phone {
        font-size: 18px;
        font-weight: 900;
        text-decoration: none;
        color: white;
        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}