.reviews {
    padding-bottom: 90px;
    &__wrapper {
/*         margin: 50px auto 0 auto; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .reviews-item {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 915px;
        gap: 60px;
    }
    span {
        width: 169px;
        height: 169px;
        img {
            width: auto;
        }
    }
}