h2 {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: black;
    text-align: center;
}

.advantages__name {
    margin-top: 35px;
}

.consultation__title {
    color: white;
    text-align: left;
}