h2 {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0;
}

h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: black;
    text-align: center;
    margin-bottom: 0;
}

.advantages__name {
    margin-top: 35px;
}

.consultation__title {
    color: white;
    text-align: left;
}

.reviews-item__username {
    text-align: left;
}

h4 {
    color: #646464;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}